body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #202020;
  }
  
  header {
    background: #27117f;
    color: #fff;
    padding: 10px 0;
  }
  
  .nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .nav-menu li {
    margin: 0 15px;
  }
  
  .nav-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .hero {
    text-align: center;
    margin: 20px;
  }
  
  footer {
    text-align: center;
    background: #27117f;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .school-logos {
    text-align: center;
    margin: 20px 0;
  }
  
  .logos {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .logo {
    max-width: 150px; /* Adjust the size of the logos */
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .portfolio-image {
    display: block; /* Ensures the image behaves as a block-level element */
    margin: 20px auto 40px; /* Adds space below the image */
    max-width: 80%; /* Optional: Ensures the image doesn’t overflow the content area */
    height: auto;
  }